/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
html, body {
    overflow-x: hidden;
    width: 100%;
	scroll-behavior: smooth;
}

body {
    background-image: url("Background.png");
    background-repeat: repeat;
    background-size: 100vh; 
    background-position: center;
}


/* Marquee container */
.marquee {
    overflow: hidden;
    width: 100%;
}


/* Top Center Header */

.side-menu a {
    text-decoration: none;   
    color: #000;             
}

.top-center {
    	text-align: center;
 		margin-bottom: 500px; 
    	margin-top: 350px;

}

.top-text,
.bottom-text {
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: bold;
}


/* Logo middle */
.logo {
    width: 150px;
    height: 150px;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero {
    position: relative;
    height: 100vh;
    background: black; 
    display: flex;
    align-items: center;
    padding-left: 120px;
}

/* Side Label */
.hero-side-label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.small-label {
    font-size: 12px;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.small-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 1px;
    background: white;
}

.big-label {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

/* Moving text */
.hero {
    min-height: 100vh;
    padding-top: 60px;
}

.hero-title {
    display: inline-block;
    white-space: nowrap;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 2px;
    animation: moveSide 30s linear infinite;
}


/* Animation */
@keyframes moveSide {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Logo */
.small-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
	margin-bottom: 60px;
}

/* Hero Title */


.hero-subtitle {
    margin-top: 20px;
    font-weight: bold;
}

/* Program Section */
.program {
    padding: 80px 60px;
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Reverse layout */
.program.reverse {
    flex-direction: row-reverse;
}

.hero, .program,footer {
    margin-left: 80px;
}

/* Image Placeholder */
.image-box {
    width: 60%;
    height: 300px;
    background: #bcdcff;
}

/* Text */
.program-text {
    width: 40%;
}

.program-text h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.program-text p {
    font-size: 14px;
    line-height: 1.6;
}

/* Footer */
footer {
    padding: 30px;
    text-align: center;
    background: #111;
    color: #fff;
    font-size: 14px;
}

/* Side Navigation */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    z-index: 1000;
}

/* Menu */
.side-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.side-menu li {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    color: #000;
}

.image-slider {
    width: 60%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.image-slider-media {
    width: 75%;        
    height: 80vh;      
    overflow: hidden;
}

.slider-track {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slider-track img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0; 
}

/* Next button */
.next-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 30px;
    padding: 5px 15px;
    cursor: pointer;
}

.next-btn:hover {
    background: black;
}

